.footer-card {
    width: 100%;
    margin-top: 25px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.footer-item {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-item span {
    with: 100%;
    max-width: 320px;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}